 @import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=Titillium+Web&display=swap'); 

:root {
    --light-bg:  #ffffff;
    --header-dodger-blue: #1c99ff;
    --modal-blue: #0083ee;
    --dark1-bg: #344a67;
    --dark2-bg: #44535e;
    --orange-color: #E36600;
}

*,
*:before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

body {
    background: var(--light-bg); 
    margin: 0;
    padding: 0;
     
}

i {
    cursor: pointer;
    font-size: 28px;
    display: flex;
    justify-content:last baseline;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%; 
    background: var(--header-dodger-blue);
    padding: 0em 3em;

}

.book-shelf {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    max-width: 1000;
    position: absolute;
    bottom: 5%;
    left: 20%;
    margin: 2rem;
}

#new-book {
    border: none;
    outline: none;
    font-size: 2rem;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--header-dodger-blue);
    transition: 1.5s ease;
    position: fixed;
    bottom: 5%;
    right: 6.5%;
}

#new-book:hover {
    background: var(--modal-blue);
}

.popup {
    display: flex;
    justify-content: center;
}

.card {
    transform: scale(0);
    transition: 0.2s ease-in-out;
    padding: 20px;
    margin: -2em;
    padding-bottom: 5rem;
    width: 21.5rem;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 40px 15px 15px 12px rgba(0, 0, 0, 0.5);
    background: var(--light-bg);
    font-size: 1rem;
    font-weight: 900;
}



.head {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

input[type="text"],
input[type="number"],
select {
    display: grid;
    width: 100%;
    height: 2.5rem;
    background: rgb(229, 229, 229);
    border: none;
    outline: none;
    font-size: 1rem;
    padding-left: 1rem;
    border-radius: 0.5rem;
    
}

input[type="submit"] {
    width: 100%;
    height: 2.5rem;
    background: var(--modal-blue);
    border: none;
    outline: none;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 1rem;
}

span {
    font-size: 0.8rem;
    font-weight:bolder;
    padding: 20px 0px;
    color: red;
}

.over-hang {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    pointer-events: none;
    opacity: 0;
    transition: 0.5s ease;
}

/* footer {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 12px;
    font-family: 'Rock Salt', sans-serif;
    text-align: center;
    margin: 10px 20px;
    height: 100%;
}

.footer-link {
    font-family: 'Rock Salt', cursive;
    text-decoration: none;
    color: var(--orange-color);
}
 
.footerImg{
    margin-top: -5px;
    padding: 10px 0px;
    align-items: center;
} */